body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#animationBoard {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 20%;
}

.slot-main-container {
    margin-bottom: 5em;
    border: 1px solid black;
}

.container {
    margin-bottom: 0.5em;

}

.title {
    padding-left: 1em;
    font-size: 1.3em;
    font-weight: bold;
    background-color: aliceblue;
}

.slot-obj-title {

}

.slot-obj-title {

}

.content {

}

.slot-obj-content {
    text-align:center;
}

.slot-info-content {
    padding: 1em;
}
